/* Register Page Styles */

.register-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-avatar {
  margin: 8px;
  background: #9c27b0;
}

.register-title {
  font-weight: 700;
  margin-bottom: 16px;
}

.register-form {
  margin-top: 24px;
}

.register-form-field {
  margin-bottom: 16px;
}

.register-form-actions {
  margin-top: 16px;
} 